<div class="dashboard-main-content" style="min-height: 600px;">
    <div class="dashboard-main-content__header">
      <h1>Add/Edit User Mapping</h1>
    </div>
   
      <nav aria-label="breadcrumb" class="mt-1">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item"><a href="#">Institute Management</a></li>
        </ol>
      </nav>
     
      <div class="dashboard-main-content-info p-5">
        
        <div class="tab-content" id="myTabContent"> 
           
        <div class="row justify-content-center d-flex">
            
          <div class="col-lg-10">
           
            <div class="card p-3">
                <form id="msform" [formGroup]="addUserMapping" (ngSubmit)="onSubmit()">
              <div class="pb-2 mt-2  row  m-0">
                <label for="staticEmail" class="col-sm-2 col-form-label ps-0">Region</label>
                <div class="col-sm-3">

                    <select class="form-select" aria-label="Default select example" name="region" formControlName="region" (change)="getroOfficeByRegionId($event)" [ngClass]="{'is-invalid': addUserMappingFormubmitted && f.region.errors }">
                        <option selected disabled>Select Region</option>
                        <option *ngFor="let data of regionList; let i=index;" value="{{data.region_code}}">
                            {{data.region_name}}
                        </option>
                    </select>
                    <div *ngIf="addUserMappingFormubmitted && f.region.errors" class="invalid-feedback">Region is required</div>
                </div>

                <label for="staticEmail" class="col-sm-2 col-form-label ">RO Office </label>
                <div class="col-sm-3">   
                    <select class="form-select " aria-label="Default select example" formControlName="rooffice" [ngClass]="{'is-invalid': addUserMappingFormubmitted && f.rooffice.errors }">
                        <option selected disabled>Select RO Office </option>
                        <option *ngFor="let data of regionList; let i=index;" value="{{data.region_code}}">
                            {{data.region_name}}
                        </option>
                    </select>
                    <div *ngIf="addUserMappingFormubmitted && f.rooffice.errors" class="invalid-feedback">RO Office is required</div>
                </div>
              </div>
  

              <div class="pb-2 mt-2  row  m-0">
               <label for="staticEmail" class="col-sm-2 col-form-label ps-0">Employee Name</label>
                <div class="col-sm-3">

                    <input type="text"   class="form-control" id="empname" formControlName="empname" [ngClass]="{'is-invalid': addUserMappingFormubmitted && f.empname.errors }">
                    <div *ngIf="addUserMappingFormubmitted && f.empname.errors" class="invalid-feedback">Employee Name is required</div>
                </div>

                <label for="staticEmail" class="col-sm-2 col-form-label" >Start Date</label>
                <div class="col-sm-3">

                    <input type="text"   class="form-control" id="startdate" formControlName="startdate"  [ngClass]="{'is-invalid': addUserMappingFormubmitted && f.startdate.errors }">
                    <div *ngIf="addUserMappingFormubmitted && f.startdate.errors" class="invalid-feedback">Start Date is required</div>
                </div>
              </div>
  
     
              <div class="pb-2 mt-2  row  m-0">
                <label for="staticEmail" class="col-sm-2 col-form-label ps-0">End Date</label>
                 <div class="col-sm-3">
 
                    <input type="text"   class="form-control" id="enddate" formControlName="enddate" [ngClass]="{'is-invalid': addUserMappingFormubmitted && f.enddate.errors }" >
                    <div *ngIf="addUserMappingFormubmitted && f.enddate.errors" class="invalid-feedback">End Date is required</div>
                </div>
 
                
               </div> 
               <div class="text-center my-2 "><button class="insitute-svae-button"  [disabled]="!this.addUserMapping.get('region').valid || 
                !this.addUserMapping.get('rooffice').valid || 
                !this.addUserMapping.get('empname').valid || !this.addUserMapping.get('startdate').valid || 
                !this.addUserMapping.get('enddate').valid">Save</button></div>
            </form>
            </div>
      
          </div>
        </div>
     </div>  
  </div><!--close main-content-info-->
  </div><!--close dashboard-main-content-->
  