<div class="card" style="height:95%; border-radius: 1%;padding: 1%;">
    <div class="row">
        <h2 class="mb-0 text-black">Transfer Preference (Station Choice)<span class="required-asterisk">*</span></h2>
        <hr>
    </div>

    <div class="row">
        <div class="col-md-3">
            <h3> Do you want to apply for transfer</h3>
        </div>
        <div class="col-md-offset-1 col-md-2">
            <div class="form-check form-check-inline ms-3 mt-4">
                <input class="form-check-input" value="1" name="recruitedSpclDriveNer" id="recruitedSpclDriveNer" formControlName="recruitedSpclDriveNer" type="radio" (click)="resetStationChoices();manageChoice(1)" />
                <label class="form-check-label">Yes</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" value="0" name="recruitedSpclDriveNer" id="recruitedSpclDriveNer" formControlName="recruitedSpclDriveNer" type="radio" (click)="resetStationChoices();manageChoice(0)">
                <label class="form-check-label font-weight-bold">No</label>
            </div>
        </div>
        <hr>

    </div>


    <div class="row">
        <div class="col-md-5 row" style="" *ngIf="transferStatus==1">
            <h3><b>Station Choice</b></h3>
            <div class="col-md-6">
                <label for="basic-url" class="form-label stationName">Station Code &
                    Name(I)</label>
                <div class="input-group mb-3">
                    <input type="text" class="input-group-text input" id="displacement1StationCode" formControlName="displacement1StationCode" name="displacement1StationCode" disabled style="width:70px; height:33px;">
                    <input type="text" class="form-control form-control-sm" id="displacement1StationName" formControlName="displacement1StationName" name="displacement1StationName" placeholder="Station Name" aria-label="Recipient's username" aria-describedby="button-addon2"
                        disabled>
                    <button class="btn btn-sm btn-outline-secondary btn-bdr-color input-group-text" type="button" id="button-addon2"><i class='bx bx-reset'
                            title="Reset"
                            (click)="restStationSelection(191)"></i></button>
                    <button class="btn btn-sm btn-outline-secondary btn-bdr-color input-group-text" type="button" id="button-addon2"><i
                            class="fa fa-search SearchIconSet"
                            (click)="selectSchool('191')"></i></button>
                </div>
            </div>
            <div class="col-md-6">
                <label for="basic-url" class="form-label stationName">Station Code &
                    Name(II)</label>
                <div class="input-group mb-3">
                    <input type="text" class="input-group-text input" id="displacement1StationCode" formControlName="displacement1StationCode" name="displacement1StationCode" disabled style="width:70px; height:33px;">
                    <input type="text" class="form-control form-control-sm" id="displacement1StationName" formControlName="displacement1StationName" name="displacement1StationName" placeholder="Station Name" aria-label="Recipient's username" aria-describedby="button-addon2"
                        disabled>
                    <button class="btn btn-sm btn-outline-secondary btn-bdr-color input-group-text" type="button" id="button-addon2"><i class='bx bx-reset'
                            title="Reset"
                            (click)="restStationSelection(191)"></i></button>
                    <button class="btn btn-sm btn-outline-secondary btn-bdr-color input-group-text" type="button" id="button-addon2"><i
                            class="fa fa-search SearchIconSet"
                            (click)="selectSchool('191')"></i></button>
                </div>
            </div>
            <div class="col-md-6">
                <label for="basic-url" class="form-label stationName">Station Code &
                    Name(III)</label>
                <div class="input-group mb-3">
                    <input type="text" class="input-group-text input" id="displacement1StationCode" formControlName="displacement1StationCode" name="displacement1StationCode" disabled style="width:70px; height:33px;">
                    <input type="text" class="form-control form-control-sm" id="displacement1StationName" formControlName="displacement1StationName" name="displacement1StationName" placeholder="Station Name" aria-label="Recipient's username" aria-describedby="button-addon2"
                        disabled>
                    <button class="btn btn-sm btn-outline-secondary btn-bdr-color input-group-text" type="button" id="button-addon2"><i class='bx bx-reset'
                            title="Reset"
                            (click)="restStationSelection(191)"></i></button>
                    <button class="btn btn-sm btn-outline-secondary btn-bdr-color input-group-text" type="button" id="button-addon2"><i
                            class="fa fa-search SearchIconSet"
                            (click)="selectSchool('191')"></i></button>
                </div>
            </div>
            <div class="col-md-6">
                <label for="basic-url" class="form-label stationName">Station Code &
                    Name(IV)</label>
                <div class="input-group mb-3">
                    <input type="text" class="input-group-text input" id="displacement1StationCode" formControlName="displacement1StationCode" name="displacement1StationCode" disabled style="width:70px; height:33px;">
                    <input type="text" class="form-control form-control-sm" id="displacement1StationName" formControlName="displacement1StationName" name="displacement1StationName" placeholder="Station Name" aria-label="Recipient's username" aria-describedby="button-addon2"
                        disabled>
                    <button class="btn btn-sm btn-outline-secondary btn-bdr-color input-group-text" type="button" id="button-addon2"><i class='bx bx-reset'
                            title="Reset"
                            (click)="restStationSelection(191)"></i></button>
                    <button class="btn btn-sm btn-outline-secondary btn-bdr-color input-group-text" type="button" id="button-addon2"><i
                            class="fa fa-search SearchIconSet"
                            (click)="selectSchool('191')"></i></button>
                </div>
            </div>
            <div class="col-md-6">
                <label for="basic-url" class="form-label stationName">Station Code &
                    Name(V)</label>
                <div class="input-group mb-3">
                    <input type="text" class="input-group-text input" id="displacement1StationCode" formControlName="displacement1StationCode" name="displacement1StationCode" disabled style="width:70px; height:33px;">
                    <input type="text" class="form-control form-control-sm" id="displacement1StationName" formControlName="displacement1StationName" name="displacement1StationName" placeholder="Station Name" aria-label="Recipient's username" aria-describedby="button-addon2"
                        disabled>
                    <button class="btn btn-sm btn-outline-secondary btn-bdr-color input-group-text" type="button" id="button-addon2"><i class='bx bx-reset'
                            title="Reset"
                            (click)="restStationSelection(191)"></i></button>
                    <button class="btn btn-sm btn-outline-secondary btn-bdr-color input-group-text" type="button" id="button-addon2"><i
                            class="fa fa-search SearchIconSet"
                            (click)="selectSchool('191')"></i></button>
                </div>
            </div>
            <h3> <b>Note :</b> Please submit atleast one station <span class="required-asterisk">*</span></h3>
        </div>


        <div [ngClass]="transferStatus === 1 ? 'offset-md-1 col-md-5 row'  : 'offset-md-1 col-md-10 row'">
            <h3><b>Displacement Choice</b></h3>
            <div class="col-md-6">
                <label for="basic-url" class="form-label stationName">Station Code &
                    Name(I)</label>
                <div class="input-group mb-3">
                    <input type="text" class="input-group-text input" id="displacement1StationCode" formControlName="displacement1StationCode" name="displacement1StationCode" disabled style="width:70px; height:33px;">
                    <input type="text" class="form-control form-control-sm" id="displacement1StationName" formControlName="displacement1StationName" name="displacement1StationName" placeholder="Station Name" aria-label="Recipient's username" aria-describedby="button-addon2"
                        disabled>
                    <button class="btn btn-sm btn-outline-secondary btn-bdr-color input-group-text" type="button" id="button-addon2"><i class='bx bx-reset'
                            title="Reset"
                            (click)="restStationSelection(191)"></i></button>
                    <button class="btn btn-sm btn-outline-secondary btn-bdr-color input-group-text" type="button" id="button-addon2"><i
                            class="fa fa-search SearchIconSet"
                            (click)="selectSchool('191')"></i></button>
                </div>
            </div>
            <div class="col-md-6">
                <label for="basic-url" class="form-label stationName">Station Code &
                    Name(II)</label>
                <div class="input-group mb-3">
                    <input type="text" class="input-group-text input" id="displacement1StationCode" formControlName="displacement1StationCode" name="displacement1StationCode" disabled style="width:70px; height:33px;">
                    <input type="text" class="form-control form-control-sm" id="displacement1StationName" formControlName="displacement1StationName" name="displacement1StationName" placeholder="Station Name" aria-label="Recipient's username" aria-describedby="button-addon2"
                        disabled>
                    <button class="btn btn-sm btn-outline-secondary btn-bdr-color input-group-text" type="button" id="button-addon2"><i class='bx bx-reset'
                            title="Reset"
                            (click)="restStationSelection(191)"></i></button>
                    <button class="btn btn-sm btn-outline-secondary btn-bdr-color input-group-text" type="button" id="button-addon2"><i
                            class="fa fa-search SearchIconSet"
                            (click)="selectSchool('191')"></i></button>
                </div>
            </div>
            <div class="col-md-6">
                <label for="basic-url" class="form-label stationName">Station Code &
                    Name(III)</label>
                <div class="input-group mb-3">
                    <input type="text" class="input-group-text input" id="displacement1StationCode" formControlName="displacement1StationCode" name="displacement1StationCode" disabled style="width:70px; height:33px;">
                    <input type="text" class="form-control form-control-sm" id="displacement1StationName" formControlName="displacement1StationName" name="displacement1StationName" placeholder="Station Name" aria-label="Recipient's username" aria-describedby="button-addon2"
                        disabled>
                    <button class="btn btn-sm btn-outline-secondary btn-bdr-color input-group-text" type="button" id="button-addon2"><i class='bx bx-reset'
                            title="Reset"
                            (click)="restStationSelection(191)"></i></button>
                    <button class="btn btn-sm btn-outline-secondary btn-bdr-color input-group-text" type="button" id="button-addon2"><i
                            class="fa fa-search SearchIconSet"
                            (click)="selectSchool('191')"></i></button>
                </div>
            </div>
            <div class="col-md-6">
                <label for="basic-url" class="form-label stationName">Station Code &
                    Name(IV)</label>
                <div class="input-group mb-3">
                    <input type="text" class="input-group-text input" id="displacement1StationCode" formControlName="displacement1StationCode" name="displacement1StationCode" disabled style="width:70px; height:33px;">
                    <input type="text" class="form-control form-control-sm" id="displacement1StationName" formControlName="displacement1StationName" name="displacement1StationName" placeholder="Station Name" aria-label="Recipient's username" aria-describedby="button-addon2"
                        disabled>
                    <button class="btn btn-sm btn-outline-secondary btn-bdr-color input-group-text" type="button" id="button-addon2"><i class='bx bx-reset'
                            title="Reset"
                            (click)="restStationSelection(191)"></i></button>
                    <button class="btn btn-sm btn-outline-secondary btn-bdr-color input-group-text" type="button" id="button-addon2"><i
                            class="fa fa-search SearchIconSet"
                            (click)="selectSchool('191')"></i></button>
                </div>
            </div>
            <div class="col-md-6">
                <label for="basic-url" class="form-label stationName">Station Code &
                    Name(V)</label>
                <div class="input-group mb-3">
                    <input type="text" class="input-group-text input" id="displacement1StationCode" formControlName="displacement1StationCode" name="displacement1StationCode" disabled style="width:70px; height:33px;">
                    <input type="text" class="form-control form-control-sm" id="displacement1StationName" formControlName="displacement1StationName" name="displacement1StationName" placeholder="Station Name" aria-label="Recipient's username" aria-describedby="button-addon2"
                        disabled>
                    <button class="btn btn-sm btn-outline-secondary btn-bdr-color input-group-text" type="button" id="button-addon2"><i class='bx bx-reset'
                            title="Reset"
                            (click)="restStationSelection(191)"></i></button>
                    <button class="btn btn-sm btn-outline-secondary btn-bdr-color input-group-text" type="button" id="button-addon2"><i
                            class="fa fa-search SearchIconSet"
                            (click)="selectSchool('191')"></i></button>
                </div>
            </div>
            <h3> <b>Note: </b>Kindly fill maximum five stations choice other than present station, incase you are transferred on displacement.(Please select atleast one station)</h3>
        </div>
        <hr>
    </div>


</div>