<div class="container-fluid px-4">

    <div class=" cardSet">

        <h5 class="mb-0 p-2 FontTitle">Freeze Masters</h5>
        <hr />
        <div class>
            <form [formGroup]="freezeForm">
                <ul class="freezeList">
                    <li [class.is-done]="data">
                        <div class="d-flex justify-content-between">
                            <div class="fontUser">
                                Region/ZIET Master
                            </div>
                            <div class>
                                <div class="form-check">
                                    <mat-slide-toggle color="primary"
                                        formControlName="regionMaster"
                                        (click)="onToggle()"></mat-slide-toggle>
                                </div></div>
                        </div>
                    </li>
                    <li [class.is-done1]="data1">
                        <div class="d-flex justify-content-between">
                            <div class="fontUser">
                                Station Master
                            </div>
                            <div class>
                                <div class="form-check">
                                    <mat-slide-toggle color="primary"
                                        formControlName="stationMaster"
                                        (click)="onToggle1()"></mat-slide-toggle>
                                </div></div>
                        </div>
                    </li>
                    <li [class.is-done2]="data2">
                        <div class="d-flex justify-content-between">
                            <div class="fontUser">
                                School/Institution Master
                            </div>
                            <div class>
                                <div class="form-check">
                                    <mat-slide-toggle color="primary"
                                        formControlName="schoolInstitutionMaster"
                                        (click)="onToggle2()"></mat-slide-toggle>
                                </div></div>
                        </div>
                    </li>
                    <li [class.is-done3]="data3">
                        <div class="d-flex justify-content-between">
                            <div class="fontUser">
                                Station Category Master
                            </div>
                            <div class>
                                <div class="form-check">
                                    <mat-slide-toggle color="primary"
                                        formControlName="stationCategoryMaster"
                                        (click)="onToggle3()"></mat-slide-toggle>
                                </div></div>
                        </div>
                    </li>
                    <li [class.is-done4]="data4">
                        <div class="d-flex justify-content-between">
                            <div class="fontUser">
                                Staff Type Master
                            </div>
                            <div class>
                                <div class="form-check">
                                    <mat-slide-toggle color="primary"
                                        formControlName="staffTypeMaster"
                                        (click)="onToggle4()"></mat-slide-toggle>
                                </div></div>
                        </div>
                    </li>
                    <li [class.is-done5]="data5">
                        <div class="d-flex justify-content-between">
                            <div class="fontUser">
                                Designation Master
                            </div>
                            <div class>
                                <div class="form-check">
                                    <mat-slide-toggle color="primary"
                                        formControlName="designationMaster"
                                        (click)="onToggle5()"></mat-slide-toggle>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li [class.is-done6]="data6">
                        <div class="d-flex justify-content-between">
                            <div class="fontUser">
                                Subject Master
                            </div>
                            <div class>
                                <div class="form-check">
                                    <mat-slide-toggle color="primary"
                                        formControlName="subjectMaster"
                                        (click)="onToggle6()"></mat-slide-toggle>
                                </div></div>
                        </div>
                    </li>
                    <li [class.is-done7]="data7">
                        <div class="d-flex justify-content-between">
                            <div class="fontUser">
                                Region Station Mapping
                            </div>
                            <div class>
                                <div class="form-check">
                                    <mat-slide-toggle color="primary"
                                        formControlName="regionStationMapping"
                                        (click)="onToggle7()"></mat-slide-toggle>
                                </div></div>
                        </div>
                    </li>
                    <li [class.is-done8]="data8">
                        <div class="d-flex justify-content-between">
                            <div class="fontUser">
                                Station Category Mapping
                            </div>
                            <div class>
                                <div class="form-check">
                                    <mat-slide-toggle color="primary"
                                        formControlName="stationCategoryMapping"
                                        (click)="onToggle8()"></mat-slide-toggle>
                                </div></div>
                        </div>
                    </li>
                    <li [class.is-done9]="data9">
                        <div class="d-flex justify-content-between">
                            <div class="fontUser">
                                Station School Mapping
                            </div>
                            <div class>
                                <div class="form-check">
                                    <mat-slide-toggle color="primary"
                                        formControlName="stationSchoolMapping"
                                        (click)="onToggle9()"></mat-slide-toggle>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li [class.is-done10]="data10">
                        <div class="d-flex justify-content-between">
                            <div class="fontUser">
                                Staff-Type-Post Mapping
                            </div>
                            <div class>
                                <div class="form-check">
                                    <mat-slide-toggle color="primary"
                                        formControlName="staffTypePostMapping"
                                        (click)="onToggle10()"></mat-slide-toggle>
                                </div></div>
                        </div>
                    </li>
                    <li [class.is-done11]="data11">
                        <div class="d-flex justify-content-between">
                            <div class="fontUser">
                                Post-Subject Mapping
                            </div>
                            <div class>
                                <div class="form-check">
                                    <mat-slide-toggle color="primary"
                                        formControlName=" postSubjectMapping"
                                        (click)="onToggle11()"></mat-slide-toggle>
                                </div></div>
                        </div>
                    </li>
                    <li [class.is-done12]="data12">
                        <div class="d-flex justify-content-between">
                            <div class="fontUser">
                                Sanctioned-Post Mapping
                            </div>
                            <div class>
                                <div class="form-check">
                                    <mat-slide-toggle color="primary"
                                        formControlName="sanctionedPostMapping"
                                        (click)="onToggle12()"></mat-slide-toggle>
                                </div></div>
                        </div>
                    </li>
                </ul>
                <hr />
                <div class="text-center">
                    <button class="btn btn-primary" (click)="freezemaster()">
                        Freeze Data</button>
                </div>
            </form>

        </div>
    </div>

</div>